{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Обо мне</h1>

                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


Привет! Меня зовут Швед Егор мне 26 лет, и я создатель этого проекта -- интернет-магазина. Я занимаюсь web-разработкой и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.

Я начал изучать web-разработку 6 месяцев назад (увлекся програмированием в 25 лет) и этот проект является частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать максимально полезный и удобный магазин.

Если вы хотите связаться со мной, то можете  посетить мою страницу в социальных сетях, где я буду рад ответить на ваши вопросы и обсудить возможности сотрудничества. Ссылки на них расположены ниже.

Спасибо, что посетили мой проект! Другие мои проекты можно также посмотреть на моей странице GitHub


<br><br><br><br><br>

{% endblock  %}
