{% extends 'base.html' %}
{% block content %}
                <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">О Магазине</h1>

                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


Сайт был создан с помощью фреймворка Django и библиотек для него. База данных реализована на SQLite, а дизайн сайта был разработан с использованием HTML и CSS и JS.

Я работал на тем чтобы сайт был максимально быстрым и удобным для пользователей. Фреймворк Django был выбран для создания надежного и безопасного веб-приложения, а база данных SQLite позволяет эффективно хранить и управлять информацией.

Дизайн основан на HTML, CSS и JS, которые использовались для создания красивого и функционального пользовательского интерфейса. Я постоянно работаю над улучшением дизайна сайта чтобы предоставить пользователям наилучший опыт.
<br>
<br><br><br><br><br>


{% endblock  %}
